@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SplideJS has there own css file i can not add tailwind classes to it */
@layer components {
    .splide__slide-carousel {
        transition: opacity 400ms;
        opacity: .3;
        padding-bottom: 16px;
    }

    .splide__slide-carousel.is-active {
        opacity: 1;
    }

    .splide__slide-carousel img {
        transition: transform 400ms;
        transform: scale(.7) rotate(0deg);
        /* use reduce motion to disable the animation */

        will-change: transform;
    }

    .splide__slide-carousel.is-active img {
        will-change: transform;
        transform: scale(1);
    }

    .splide__slide-carousel.is-active:hover img {
        transform: rotate(1deg) scale(1.05);
    }

    .splide__slide-carousel.is-active:hover .img-hover__text {
        display: flex;
    }

    .splide__slide-carousel .img-hover__text {
        display: none;
    }

    .splide__slide-carousel .img__text {
        opacity: 0;
        transition: opacity 250ms;
    }

    .splide__slide-carousel.is-active .img__text {
        opacity: 1;
    }

    @media (prefers-reduced-motion: reduce) {
        .splide__slide-carousel img {
            transition: none;
        }

        .splide__slide-carousel .img__text {
            transition: none;
        }

        .splide__slide-carousel.is-active .img__text {
            opacity: 1;
        }
    }

}