@tailwind base;
@tailwind components;
@tailwind utilities;

/* import poppins font */
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: url("/fonts/Poppins-Black.ttf") format("truetype");
}


/* SplideJS has there own css file i can not add tailwind classes to it */
@layer base {
    .splide__slide-carousel {
        opacity: 0.5;
    }

    .splide__slide-carousel.is-active {
        opacity: 1;
    }


    .splide__slide-carousel img {
        display: block;
        width: 100%;
        border-radius: 8px;
        transition: transform 400ms;
        transform: scale(.6);
        transform-origin: center center;
    }


    .splide__slide-carousel.is-active img {
        transform: scale(1);
    }
}